<dl class="specific-grid">
  <div>
    <dt>Authors</dt>
    <dd>{{ listText(info.authors) }}</dd>
  </div>
  <div>
    <dt>Cover Type</dt>
    <dd>{{ info.coverType || 'N/A' }}</dd>
  </div>
  <div>
    <dt>Publisher</dt>
    <dd>{{ info.publisher || 'N/A' }}</dd>
  </div>
  <div>
    <dt>Publication Date</dt>
    <dd>{{ info.publicationDate || 'N/A' }}</dd>
  </div>
  <div>
    <dt>Pages</dt>
    <dd>{{ info.numberOfPages || 'N/A' }}</dd>
  </div>
  <div>
    <dt>Language</dt>
    <dd>{{ info.language || 'N/A' }}</dd>
  </div>
  <div>
    <dt>Genre</dt>
    <dd>{{ info.genre || 'N/A' }}</dd>
  </div>
</dl>
